/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget input {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-widgets .enews-widget input:hover[type="submit"] {
  background-color: #fff;
  color: #000;
}

.enews form + p {
  margin-top: 24px;
}

/* Jetpack
--------------------------------------------- */

#wpstats {
  display: none;
}